/**
 * JS-Snake
 * Adam Shannon
 */

a {
    color: #000;
}

body {
    background-color: #CCC;
}

canvas#arena {
    background-color: #FFF;
    border: 1px solid #000;
    height: 500px;
    width: 1000px;
}

iframe {
    background-color: #FFF;
    height: 500px;
    width: 1000px;
}

table {
    text-align: center;
    width: 100%;
}