<?php
/**
 * JS-Snake
 * Adam Shannon
 */
require_once "lib/mysql.php";

$hostname = "";
$username = "";
$password = "";
$database = "js_snake_leaderboard";

$conn = MySQL::set_vars($hostname, $username, $password);
MySQL::$db = $database;
